#* @vtlvariable name="noApplinkAuthConfigured" type="java.lang.Boolean" *#
#* @vtlvariable name="applicationUrl" type="java.net.URI" *#
#* @vtlvariable name="appLinkId" type="com.atlassian.applinks.api.ApplicationId" *#
#* @vtlvariable name="id" type="java.lang.Long" *#
#* @vtlvariable name="title" type="java.lang.String" *#
#* @vtlvariable name="url" type="java.lang.String" *#
#* @vtlvariable name="tooltip" type="java.lang.String" *#
#* @vtlvariable name="iconTooltip" type="java.lang.String" *#
#* @vtlvariable name="iconUrl" type="java.lang.String" *#
#* @vtlvariable name="authenticationRequired" type="java.lang.Boolean" *#
#* @vtlvariable name="permissionDenied" type="java.lang.Boolean" *#
#* @vtlvariable name="authenticationUrl" type="java.lang.String" *#
#* @vtlvariable name="applicationName" type="java.lang.String" *#
#* @vtlvariable name="i18n" type="com.atlassian.jira.action.JiraActionSupport" *#
#* @vtlvariable name="textutils" type="com.opensymphony.util.TextUtils" *#

#enable_html_escaping()

#if ($noApplinkAuthConfigured)
    <p>
        <span>
            <a href="${url}" class="link-title">${textutils.htmlEncode($summary)}</a>
        </span>
        <span class="link-loading-failed">${i18n.getText("common.concepts.loading.failed")}</span>
    </p>
#elseif ($authenticationRequired)
    <p>
        <span>
            <a href="${url}" class="link-title">${textutils.htmlEncode($summary)}</a>
        </span>
        <span
            class="jbp-issue-link-auth"
            data-app-link-id="${appLinkId}"
            data-application-name="${applicationName}"
            data-application-url="${applicationUrl}"
            data-authentication-url="${authenticationUrl}"
        ></span>
    </p>
#else
    <p>
        <span class="bamboo-icon bamboo-icon-${iconClass}" title="${iconTooltip}"><span>${iconTooltip}</span></span>
        <span title="${textutils.htmlEncode($tooltip)}">
            <a href="${url}" class="link-title">${textutils.htmlEncode($title)}</a>
        </span>
    </p>
#end
