#* @vtlvariable name="action" type="com.atlassian.jira.plugin.ext.bamboo.web.ViewBambooApplicationLinks" *#

#enable_html_escaping()

#set($i18n=$action)

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="admin.active.section" content="admin_plugins_menu/builds_section"/>
    <meta name="admin.active.tab" content="bamboo_config"/>
    <title>$i18n.getText("bamboo.config.title")</title>
</head>
<body>

$soyRenderer.render('com.atlassian.jira.plugin.ext.bamboo:bamboo-soy-resources','bamboo.components.pageHeader', {
    'headerImageContent': '<div class="bamboo-logo"></div>',
    'headerMainContent': "<h2>$i18n.getText('bamboo.config.title')</h2>",
    'headerActionsContent': "<p>$i18n.getText('bamboo.downloadLink')</p>"
})
<p>$i18n.getText("bamboo.config.description")</p>
<p>$i18n.getText("bamboo.config.description.helper", $baseurl)</p>

<table class="aui" id="linked-bamboo-instances">
    <thead>
        <tr>
            <th>$i18n.getText("common.words.name")</th>
            <th>$i18n.getText("bamboo.config.host")</th>
            #if ($action.hasMultipleBambooApplinks())
                <th>$i18n.getText("bamboo.config.associated-projects-keys.label")</th>
            #end
        </tr>
    </thead>
    <tbody>
        #if(!$action.hasBambooApplinks())
            <tr>
                <td colspan="3">
                    $i18n.getText("bamboo.config.no-servers-configured", $baseurl)
                </td>
            </tr>
        #else
            #foreach($applink in $sorter.sort($action.getBambooApplinks(), "name"))
                #set ($applinkId = "${applink.id.get()}")
                <tr>
                    <td>
                        <b>$textutils.htmlEncode(${applink.name})</b>
                        #if (${applink.isPrimary()}) ($i18n.getText("bamboo.config.host.default")) #end
                    </td>
                    <td>
                        #set ($encodedApplinkUrl = $textutils.htmlEncode(${applink.displayUrl.toASCIIString()}))
                        <a href="$encodedApplinkUrl">$encodedApplinkUrl</a>
                    </td>
                    #if ($action.hasMultipleBambooApplinks())
                        <td>
                            #if ($action.hasProjectsAssociatedWithApplink($applinkId))
                                #foreach ($projectKey in ${sorter.sort($action.getProjectsAssociatedWithApplink($applinkId))})
                                    #set ($encodedProjectKey = $textutils.htmlEncode($projectKey))
                                    <a href="$baseurl/browse/$encodedProjectKey">$encodedProjectKey</a>
                                #end
                            #else
                                $i18n.getText("bamboo.config.associated-projects-keys.none")
                            #end

                            <b>(<a href="EditBambooApplicationLink!default.jspa?applicationId=$applinkId">$i18n.getText("common.forms.edit")</a>)</b>
                        </td>
                    #end
                </tr>
            #end
        #end
    </tbody>
</table>

</body>
</html>